*{  margin: 0;
    font: 1em sans-serif;
}
.treeMain{
    padding: 10px 0px 10px 10px;
    background: #406668;
    height: auto;
    margin-right: 3px;
}

.tree-node  {
    padding: 0 0 0 15px;
    background: #5f9ea0;
    cursor: default;
    display: none;
}
.active {
    display: block;
}
.nodeMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #00ddff;
}
.nodePrice{
    padding: 10px;
}
/* .nodeText{
    /* background-image: radial-gradient(circle 100px, transparent 50%, #00ddff 100%); */
    /* background-color: #000000; */
/* } */
.nodeText > *{
    display: inline-block;
    padding: 2px 5px 2px 5px;
}
.buttons > *{
    display: inline-block;
    border: 1px solid #00ddff;
    padding: 2px;
}
.interface{
    height: 5vh;
    display: flex;
}
.interfaceBtn{
    display: inline-block;
    background-color: aquamarine;
    border: 1px solid black;
    padding: 4px;
    margin: 5px 5px 5px 5px;
}
.UIWindowBody{
    height: 95vh;
    overflow-y: scroll;
}