/* Общие стили */
* {
  margin: 0;
  font: 1em sans-serif;
}

/* Стили для таблицы */
.tree-table {
  width: 100%;
  border-collapse: collapse;
  background: #eaf3f3;
}

.tree-table th, .tree-table td {
  padding: 8px;
  border: 1px solid #006b6f;
  text-align: left;
}

.tree-table th {
  background-color: #406668;
  color: white;
  position: sticky;
  top: 0;
}

.tree-row {
  background-color: #00b3b9;
  cursor: default;
}

.tree-row:hover {
  background-color: #00ddff;
}

/* Стили для ячеек */
.tree-table td:first-child {
  text-align: center;
  cursor: pointer;
  width: 30px;
}

.node-name {
  display: flex;
  align-items: center;
}

/* Стили для цены и ввода */
.tree-table input[type="number"] {
  width: 60px;
  padding: 5px;
  background-color: #00b3b9;
  border: 1px solid #ffffff6e;
  border-radius: 10px;
  text-align: center;
}

.tree-table input[type="number"]::-webkit-outer-spin-button,
.tree-table input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tree-table input[type="number"] {
  -moz-appearance: textfield;
}

/* Стили для кнопок */
.buttons {
  opacity: 0%;
  margin-left: 10px;
  display: flex;
}

.tree-row:hover .buttons {
  opacity: 100%;
}

.buttons > * {
  background: transparent;
  border: none;
  padding: 0 5px;
}

.buttons img {
  width: 33px;
  height: 33px;
}

/* Отступы для вложенности */
.tree-table td:nth-child(2) {
  padding-left: 20px;
}

/* Состояния */
.disabled {
  display: none;
}

/* Прокрутка и общие стили интерфейса */
.UIWindowBody {
  height: calc(100vh - 66px);
  overflow-y: auto;
  background: #eaf3f3;
}

.interface {
  display: flex;
  background-color: #009a9f;
  height: 66px;
}

.interfacePages {
  display: flex;
}

.interfacePages div {
  padding: 10px 20px 10px;
  margin: 0 0 0 20px;
  background: #009a9f;
  border-radius: 20px 0px 0 0;
}

.interfaceBtn {
  display: inline-block;
  background-color: #009a9f;
  border: none;
}
.SaveButtons{
  display: flex;
}
.SaveButtons img{
  height: 40px;
}
.select-list{
  display: flex;
  align-items: center;
}
.select-cross {
  background: #888;
  height: 38px;
  width: 38px;
  margin-left: -5px;
  z-index: 2;
}
.select-cross img{
  width: inherit;
}